#prices {
    width: 75%;
    border-collapse: collapse;
    border: 1px;
}

#prices th {
    height: 65px;
    font-weight: bold;
    text-align: left;
}

#prices td {
    height: 50px;
}

#beekeeper {
    color: #FF9900;
    text-align: center;
}

#mainsite:hover {
    color: #FF9900;
}

/* Image credit url:https://stock.adobe.com/search?k=%22bee+logo%22 */
#beeimg {
    background-image: url(bee_logo.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;
}